<%- include('partials/header') %>
<% 
// Define Android icon SVG
const androidIcon = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="20" height="24" style="vertical-align: middle; margin-right: 5px;">
<path d="M420.55,301.93a24,24,0,1,1,24-24,24,24,0,0,1-24,24m-265.1,0a24,24,0,1,1,24-24,24,24,0,0,1-24,24m273.7-144.48,47.94-83a10,10,0,1,0-17.27-10h0l-48.54,84.07a301.25,301.25,0,0,0-246.56,0L116.18,64.45a10,10,0,1,0-17.27,10h0l47.94,83C64.53,202.22,8.24,285.55,0,384H576c-8.24-98.45-64.54-181.78-146.85-226.55"/>
</svg>`;

// Define Apple icon SVG
const appleIcon = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="20" height="24" style="vertical-align: middle; margin-right: 5px;">
<path d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"/>
</svg>`;

// Sanitize user input
function sanitize(str) {
    if (!str) return '';
    return String(str)
        .replace(/&/g, '&amp;')
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;')
        .replace(/"/g, '&quot;')
        .replace(/'/g, '&#039;');
}

// Sanitize user data
const safeUser = sanitize(user);
const safeServer = sanitize(server);
const safeCallsign = sanitize(takCallsign);
const safeColor = sanitize(takColor);
const safeRole = sanitize(takRole);
%>

<div class="form-group">
    <label class="text-info">Enrollment data</label><br>
    <b>TAK Server:</b> <%= safeServer %></br>
    <b>User:</b> <%= safeUser %></br>
    <b>Callsign:</b> <%= safeCallsign %></br>
    <b>Team Color:</b> <%= safeColor %>  <svg width="15" height="15" aria-hidden="true">
    <rect width="15" height="15" style="fill:<%= safeColor %>" />
    </svg></br>
    <b>Role:</b> <%= safeRole %></br>
</div>
<hr>
<div class="form-group">
    <label class="text-info">Device Enrollment Requirements</label><br>
    <ul>
        <li><b>Device Registration:</b> This device will be linked to your account. Only enroll devices that you are authorized to use and are personally responsible for.</li>
        <li><b>Enrollment Duration:</b> Your device enrollment is valid for 1 year. To maintain access, please renew your enrollment before: <i><%= reenroll %></i>.</li>
    </ul>
</div>
<hr>
<div <%= hide_enrollment_link %> class="form-group">
    <label class="text-info">Add This Device</label><br>
    Already have ATAK installed on this Android device? You can directly enroll this device. 
</div>

<div <%= hide_enrollment_link %> id="enroll_link" class="form-group" align="center">
    <% if (typeof link !== 'undefined' && link) { %>
        <a id="enroll-button" class="enroll-button" href="<%= link %>" aria-label="Enroll this device now">Enroll now</a>
    <% } else { %>
        <span class="enroll-button disabled">Enrollment link unavailable</span>
    <% } %>
</div>
<hr <%= hide_enrollment_link %>>

<div class="form-group">
    <label class="text-info">Add Another Device</label><br>
    Access this page from a desktop computer to enroll your mobile device.

<div class="tab-container">
    <!-- Tab buttons -->
    <div class="tab-buttons">
        <button class="tab-button active" onclick="openTab('android-tab')"><%- androidIcon %> <b>Android (ATAK)</b></button>
        <button class="tab-button" onclick="openTab('iphone-tab')"><%- appleIcon %> <b>iPhone (iTAK)</b></button>
    </div>

    <!-- Tab content -->
    <div id="android-tab" class="tab-content active">
        <div class="form-group">
            <ul>
                <li>ATAK must already be installed.</li>
                <li>Open the camera app on your Android device.</li>
                <li>Point the camera at the QR code below.</li>
                <li>Follow the on-screen prompts to complete enrollment.</li>
            </ul>
        </div>
        <div class="qr-container">
            <% if (typeof atakQrcode !== 'undefined' && atakQrcode) { %>
                <img src="<%= atakQrcode %>" alt="QR Code for Android ATAK enrollment" class="qr-code">
            <% } else { %>
                <div class="qr-error">QR code generation failed. Please try refreshing the page.</div>
            <% } %>  
        </div>
        <div class="timer-container">
            <p>The QR-Code will expire in:<br><span id="timer" class="timer"></span></p>
            <% if (typeof expire_utc !== 'undefined' && expire_utc) { %>
                <span id="expire-utc" data-time="<%= expire_utc %>" hidden></span>
            <% } else { %>
                <script>document.getElementById('timer').innerHTML = 'Unknown';</script>
            <% } %>
        </div>
    </div>

    <div id="iphone-tab" class="tab-content">
        <div class="form-group">
            <ul>
                <li>Within iTAK tap <i>"Network"</i>, then <i>"Servers".</i></li>
                <li>Select the plus icon <i>(+)</i> in the bottom right.</li>
                <li>Tap on <i>Scan QR</i> and scan the QR code below.</li>
                <li>You will be prompted to enter your username and password.</li>
            </ul>
        </div>
        <div class="qr-container">
            <% if (typeof itakQrcode !== 'undefined' && itakQrcode) { %>
                <img src="<%= itakQrcode %>" alt="QR Code for iPhone iTAK enrollment" class="qr-code">
            <% } else { %>
                <div class="qr-error">QR code generation failed. Please try refreshing the page.</div>
            <% } %>
        </div>
        <div style="text-align: center; line-height: 0.9;"><small>Name: <%= safeServer %><br>Address: <%= safeServer %><br>Port: 8089<br>Protocol: SSL</small>
    </div>
</div>
</div>


<%- include('partials/store_badges') %>

<!-- JavaScript moved to scripts.ejs -->
<script>
    // Auto-logout after page loads to invalidate session
    window.addEventListener('load', function() {
        setTimeout(function() {
            fetch('/oauth2/idpresponse/logout', { method: 'POST' })
                .catch(err => console.log('Auto-logout failed, session will expire naturally'));
        }, 2000); // 2 second delay to allow user to see content
    });
</script>

<%- include('partials/footer') %>